{{yield}}

<div class="row">
    <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2">
        <div class="tasks-wrapper">
            <div class="tasks-header">
                <div class="title">משימות</div>
                    <div class="top-button justify-content-center align-items-center">
                       
                        {{add-task-component addTask=(action "addTask") isModalOpen=isModalOpen}}
                    </div>
            </div>
            <ul class="tasks">
                {{#each tasks as |task index|}}
                    <li class="task odd" >
                        {{#if (equals-to task.status 'done')}}
                            <strike>
                                <input type="checkbox" name="checkbox" checked={{equals-to task.status 'done'}} class="input checkbox" onchange={{action (action "edit" task  ) value="target"}} />
                                <div class="task-title">{{task.name}}</div>
                                <div class="task-title">{{task.status}}</div> 
                                <a href="#" class="delete" onclick={{action (action "delete" task.id e )}}>X</a>
                            </strike>
                        {{else}}
                            <input type="checkbox" name="checkbox" onchange={{action (action "edit" task ) value="target"}} checked={{equals-to task.status 'done'}} class="input checkbox"  />
                            <div class="task-title">
                                <input type="text" name="edit" onblur={{action (action "edit" task ) value="target"}} class="task-title " value={{task.name}}   />
                            </div>
                            <div class="task-title">{{task.status}}</div> 
                            <a href="#" class="delete" onclick={{action (action "delete" task.id event )}}>X</a>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
            <div class="tasks-footer">
                <span class="tasks-left">לסיום: {{due}}  </span>
                <span class="tasks-complited"> הושלמו: {{completed}} </span>
                <span class="tasks-quantity"> סה"כ: {{total}} </span>
            </div>
        </div>
    </div>
    
</div>

